<h3 class="filter_name"><%= @name %></h3>
<div class="item_grid">
  <% @heads.each.with_index(1) do |h, i| %>
    <% if i <= 40 %>
    <div class="item_grid_container">
      <img class="item_grid_img" src="/img/<%= h.img %>" alt="<%= h.brand %> - <% h.name %>">
      <div class="grid_content">
        <p><%= h.brand %> <%= h.name %></p>
        <p><b>$<%= h.price %></b></p>

        <% if !User.where(id: session[:user_id]).empty? %>
          <form action="/add" method="post">
            <input type="hidden" name="bag[head_id]" value="<%= h.id %>">
            <input type="hidden" name="bag[user_id]" value="<%= session[:user_id] %>">
            <input type="hidden" name="bag[quantity]" value="1">
            <input type="submit" name="submit" value="Add To Cart">
          </form>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>