<div class="bag_page">

  <header id="title">
    <h1> <%= @user.name %>'s Cart</h1>
  </header>

  <div class="bag_table">
    <table id="bag">
      <thead>
        <tr>
          <th class="qty">Quantity</th>
          <th class="img"> </th>
          <th class="item_name">Item</th>
          <th class="price">Price</th>
          <th class="delete">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <div class="bag_items">
          <% @bag_items.each do |b| %>
            <tr>

              <td> 
                <%= b.quantity %>
                <button class="bag_edit_btn"><a href="bag/<%= b.id %>/edit">Edit Quantity</a></button> 
              </td>

              <td class="img">
                <a href="bag/<%= b.id %>"><img src="/img/<%= b.img %>"></a>
              </td>

              <td><%= b.name %></td>

              <td>$<%= b.price %></td>

              <td>
                <form method="post" action="/delete/<%= b.id %>">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" class="bag_edit_btn" value=" X ">
                </form>
              </td>
            </tr>
          <% end %>
          
        </div>
      </tbody>
    </table>
    <hr>
    <div class="total">
      <% total = 0 %>
      <% @bag_items.each do |b| %>
        <% total = total + (b.price * b.quantity) %>
      <% end %>
      <h2>Total: $<%= total %></h2>
    </div>
  </div>
</div>