<div class="item_grid">
  <% @heads.each.with_index(1) do |p, i| %>
  <div class="item_grid-container">
    <img class="item_grid-img" src="/img/<%= p.img %>" alt="<%= p.brand %>-<%= p.name %> ">
    <div class="item_grid-content">
      <p><%= p.brand %> <%= p.name %></p>
      <p><b>$<%= p.price %></b></p>
      <% if !User.where(id: session[:user_id]).empty? %>
        <form action="/add_item" method="post">
          <input type="hidden" name="bag[head_id]" value="<%= p.id %>">
          <input type="hidden" name="bag[user_id]" value="<%= session[:user_id] %>">
          <input type="hidden" name="bag[quantity]" value="1">
          <input type="submit" name="submit" value="Add to Cart">
        </form>
      <% end %>
    </div>
  </div>
  <% end %>
</div>