<h2><%= @head.brand %> <%= @head.name %></h2>
<img src="/img/<%= @head.img %>" alt="<%= @head.name %>-<%= @head.category %> ">

<p><%= @head.brand %> <%= @head.name %></p>
<p><b>$<%= @head.cost %></b></p>
<p><%= @head.description %></p>

<form action="/add_item" method="post">
  <input type="hidden" name="bag[head_id]" value="<%= @head.id %>">
  <input type="hidden" name="bag[user_id]" value="<%= @user.id%>">
  <input type="hidden" name="bag[quantity]" value="1">
  <input type="submit" name="submit" value="Add to Bag">
</form>

