<h2 class="cart_user_name"><%= @user.name %>'s Shopping Bag</h2>
<button>
  <a href="/heads" class="return">Back To Shopping</a>
</button>

<div class="main_cart_container cart_container edit_items">

<p class="cart__container">
  <span>Brand</span>
  <span>Gender</span>
  <span>Name</span>
  <span>Cost</span>
  <span>Quantity</span>
</p>

<% total = 0 %>
  <% @bag_heads.each do |c| %>
  <div class="cart__container">
      <% p = Head.find(c.head_id)%>
      <span><%= p.brand %> </span>
      <span><%= p.gender %> </span>
      <span><%= p.name %> </span>
      <span>$<%= p.price %></span>

    <div class="edit-form">
      <form action="/bag/edit_quantity" method="post">
        <input type="hidden" name="bag[user_id]" value="<%= c.user_id %>">
        <input type="hidden" name="bag[head_id]" value="<%= c.head_id %>">
        <input type="hidden" name="bag[quantity]" value="<%= c.quantity - 1 %>">
        <input id="decrease" class="cart-edit__btn" type="submit" name="submit" value=" - ">
      </form>

        <span> <%= c.quantity %> </span>

        <form action="/bag/edit_quantity" method="post">
          <input type="hidden" name="bag[user_id]" value="<%= c.user_id %>">
          <input type="hidden" name="bag[head_id]" value="<%= c.head_id %>">
          <input type="hidden" name="bag[quantity]" value="<%= c.quantity + 1 %>">
          <input id="increase" type="submit" class="cart-edit__btn" name="submit" value=" + ">
        </form>

   <!-- END OF EDIT FORM (INCREASE/DECREASE QTY) -->

   <!-- DELETE FORM -->
        <form action="/delete" method="post">
          <input type="hidden" name="bag[user_id]" value="<%= c.user_id %>">
          <input type="hidden" name="bag[head_id]" value="<%= c.head_id %>">
          <input type="hidden" name="bag[quantity]" value="<%= c.quantity - 1 %>">
          <input id="decrease" type="submit" class="cart-edit__btn" name="submit" value=" x ">
        </form>
    <!-- END OF DELETE FORM -->
    </div>
    </div>
    <% total = total + (p.price * c.quantity) %>
  <% end%>
  <h2 class="cart-total">Total: $<%= total %></h2>

  <%# <form action="/order" method="post">
    <input type="hidden" name="order[user_id]" value="<%= @user.id %>">
    <input type="hidden" name="order[total]" value="<%= total %>">
    <input type="submit" name="signup" value="Submit New Order">
  </form> %>
</div>